body{
    background-color: #15ffb6;
}
h1{
    color: #ff001f;
    text-align: center;
}
p{
    font-size:20px;
}
.para1{
    color: #ff6aa9;
}
.para2{
    color:##ff5540;
}
.para3{
    color: #1523ff;
}